
@{
    ViewData["Title"] = "Index";
}

<html>
	<head>
		<meta name="viewport" content="width-device.width"/>
		<title>Index</title>
		<!--Bootstrap CSS-->
		<link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet"/>
		<!--Fullcalender plugin-->
		<link href='~/fullcalendar/lib/main.css' rel='stylesheet' />
<script src='~/fullcalendar/lib/main.js'></script>
<script src="~/fullcalendar/lib/locales-all.js"></script>
<link href='https://use.fontawesome.com/releases/v5.0.6/css/all.css' rel='stylesheet'>

<script>

  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      headerToolbar: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay'
      },
      initialDate: '2022-06-01',
        locale: "tr",
        themeSystem:"bootstrap",
      navLinks: true, // Gün-Hafta-Ay nav barı
      selectable: true,
      selectMirror: true,
      select: function(arg) {
        var title = prompt('Yapılacak görevi buraya girebilirsin:');
        if (title) {
          calendar.addEvent({
            title: title,
            start: arg.start,
            end: arg.end,
            allDay: arg.allDay
          })
        }
        calendar.unselect()
      },
      eventClick: function(arg) {
        if (confirm('Bu görevi sil etmek istediğine emin misin')) {
          arg.event.remove()
        }
      },
      editable: true,
    });

    calendar.render();
  });

</script>
	</head>
	<body>
		<div class="container">
			<div id="calendar"></div>
		</div>


		

	<!-- Bootstrap JS Klasörleri-->
	<link href="~/twitter-bootstrap/js/bootstrap.js" rel="stylesheet"/>
	</body>
</html>

